Source: openlase
Section: graphics
Priority: optional
Maintainer: Richard Ulrich <richi@paraeasy.ch>
Build-Depends: debhelper (>= 9.0.0), cmake, yasm, libjack-dev, libswscale-dev, libncurses-dev, cython, libavcodec-dev, libavformat-dev, libavdevice-dev, qt4-qmake, libqt4-dev, libxmu-dev, libxi-dev, libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, freeglut3-dev, libasound-dev, python-dev
Standards-Version: 3.9.3
Homepage: http://marcansoft.com/

Package: libopenlase
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jackd
Description: Open realtime laser show graphics toolkit. Shared library 
 OpenLase is an open realtime laser show graphics toolkit.
 It pipes realtime laser show data through jack to the soundcard.
 This package contains the shared library.

Package: libopenlase-dev
Architecture: all
Section: libdevel
Depends: ${misc:Depends}, libjack-dev, libopenlase 
Description: Open realtime laser show graphics toolkit. Header files for the lib 
 OpenLase is an open realtime laser show graphics toolkit.
 It pipes realtime laser show data through jack to the soundcard.
 This is the development package containing the header files for development.

Package: python-openlase
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenlase, python
Description: Open realtime laser show graphics toolkit. Python binding 
 OpenLase is an open realtime laser show graphics toolkit.
 It pipes realtime laser show data through jack to the soundcard.
 This package contains the python bindings for libopenlase.

Package: openlase-indep
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open realtime laser show graphics toolkit. Architecture independent files
 OpenLase is an open realtime laser show graphics toolkit.
 It pipes realtime laser show data through jack to the soundcard.
 This package contains achitecture independent files that other packages need.

Package: openlase
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenlase, openlase-indep 
Description: Open realtime laser show graphics toolkit.
 OpenLase is an open realtime laser show graphics toolkit.
 It pipes realtime laser show data through jack to the soundcard.
 This package contains the executables. 

