[Desktop Entry]
Name=openlase-simulator
Comment=Open realtime laser graphics toolkit
GenericName=openlase-simulator§
Exec=/usr/bin/openlase-simulator
Path=/usr/share/openlase-simulator
Terminal=false
Icon=openlase
Categories=Graphics;Science;Engineering
Type=Application
MimeType=application/ild;
